{% extends "layout.html" %} {# Start of title #} {% set pageName = "Register" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}

<div class="container">
    <div class="row">

        <section class="span8 offset2">
            <div class="col-right">
                <h1 class="column-title">Register</h1>
            
                <hr>

                <p>You need to register before you proceed. If you are already a member, <a href="login.html">Click here</a> to login</p>

                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="fullName">Name</label>
                        <div class="controls">
                            <input type="text" id="fullName" placeholder="Enter Your Name" class="span4">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input type="text" id="email" placeholder="Enter Email" class="span4">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="text" id="password" placeholder="Enter Password" class="span4">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                          
                            <!-- <button type="submit" class="btn btn-primary">Register</button> -->
                             <a href="apply2.html" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                </form>

         </div>
        </section>
    </div>
</div>
<!-- end container-->

{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %}
 {% endblock %}