{% extends "layout.html" %} {# Start of title #} {% set pageName = "Contact Us" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}
<div class="container">
    <div class="row">
        <section class="span12">
            <div class="col-right">
                <h1 class="column-title">Contact Us</h1>
                <hr>
                <form class="form-contact offset3">
                    <div class="control-group">
                        <label class="control-label" for="email">Full Name</label>
                        <div class="controls">
                            <input type="text" id="fullnames" placeholder="Enter Full Name" class="span5">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="subject">Subject</label>
                        <div class="controls">
                            <input type="text" id="subject" placeholder="Enter Subject" class="span5">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="message">Message</label>
                        <div class="controls">
                            <textarea name="message" id="message-contact" cols="30" rows="8" class="span5"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <!-- <button type="submit" class="btn btn-primary">Register</button> -->
                            <a href="apply2.html" class="btn btn-primary">Send Message</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<!-- end container-->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}