{% extends "layout.html" %} {# Start of title #} {% set pageName = "Home" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %} {% include "partials/slider.html" %}
<div class="container">
    <div class="row" id="main-boxes">
        <div class="span4">
            <div class="box-style-2 green">
                <a href="register.html">
                    <img src="img/icon-home-course.png" alt="">
                    <h3>Register</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit cum voluptatum in id nam dolores </p>
                </a>
            </div>
        </div>
        <div class="span4">
            <div class="box-style-2 orange">
                <a href="scholarship-list.html">
                    <img src="img/icon-home-apply.png" alt="">
                    <h3>Find College</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, repellendus ipsa doloribus quam accusantium voluptatum.</p>
                </a>
            </div>
        </div>
        <div class="span4">
            <div class="box-style-2 red">
                <a href="apply.html">
                    <img src="img/icon-home-visit.png" alt="">
                    <h3>Apply</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit voluptas impedit sequi deleniti quisquam.</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end container-->
<div class="container">
    <div class="row">
        <aside class="span4 ">
            <div class="box-style-1">
                <h2>top Universities</h2>
                <hr>
                <ul class="universities-list">
                    <li>
                        <a href="scholarship-list-country.html">
                            <img src="images/usa.jpg" alt="">
                            <span>United States of America</span>
                        </a>
                    </li>
                    <li>
                        <a href="scholarship-list-country.html">
                            <img src="images/uk.jpg" alt="">
                            <span>United Kingodom</span>
                        </a>
                    </li>
                    <li>
                        <a href="scholarship-list-country.html">
                            <img src="images/india.jpg" alt="">
                            <span>India</span>
                        </a>
                    </li>
                    <li>
                        <a href="scholarship-list-country.html">
                            <img src="images/russia.jpg" alt="">
                            <span>Russia</span>
                        </a>
                    </li>
                    <li>
                        <a href="scholarship-list-country.html">
                            <img src="images/china.jpg" alt="">
                            <span>China</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="how-to-apply">
                <h4>How to Appy</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ad dolor rerum ex pariatur consectetur. Commodi magnam, repudiandae earum totam excepturi cupiditate suscipit quidem eius eveniet architecto magni perferendis deleniti placeat, aliquam ad voluptate ex veritatis quo est molestias. Vel minima beatae et rerum excepturi impedit temporibus perspiciatis tempora error quae sequi, assumenda quod similique molestiae... <a href="howto-apply.html">read more</a> </p>
            </div>
        </aside>
        <section class="span8">
            <div class="col-right">
                <h1 class="column-title">Latest Scholarships</h1>
                <hr>
                <div class="row">
                    <ul class="scholarships-list">
                        <li>
                            <div class="span3">
                                <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                            </div>
                            <div class="span4">
                                <h4>University Name</h4>
                                <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                </p>
                                <div class="university-meta">
                                    <ul class="university-meta-list">
                                        <li>
                                            <a href="scholarship-list-country.html">Country Name</a>
                                        </li>
                                        <li>Deadline</li>
                                        <li>
                                            <a href="apply.html">Apply Now</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.university-meta -->
                            </div>
                        </li>
                        <li>
                            <div class="span3">
                                <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                            </div>
                            <div class="span4">
                                <h4>University Name</h4>
                                <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                </p>
                                <div class="university-meta">
                                    <ul class="university-meta-list">
                                        <li>
                                            <a href="scholarship-list-country.html">Country Name</a>
                                        </li>
                                        <li>Deadline</li>
                                        <li>
                                            <a href="apply.html">Apply Now</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.university-meta -->
                            </div>
                        </li>
                        <li>
                            <div class="span3">
                                <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                            </div>
                            <div class="span4">
                                <h4>University Name</h4>
                                <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                </p>
                                <div class="university-meta">
                                    <ul class="university-meta-list">
                                        <li>
                                            <a href="scholarship-list-country.html">Country Name</a>
                                        </li>
                                        <li>Deadline</li>
                                        <li>
                                            <a href="apply.html">Apply Now</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.university-meta -->
                            </div>
                        </li>
                        <li>
                            <div class="span3">
                                <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                            </div>
                            <div class="span4">
                                <h4>University Name</h4>
                                <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                </p>
                                <div class="university-meta">
                                    <ul class="university-meta-list">
                                        <li>
                                            <a href="scholarship-list-country.html">Country Name</a>
                                        </li>
                                        <li>Deadline</li>
                                        <li>
                                            <a href="apply.html">Apply Now</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.university-meta -->
                            </div>
                        </li>
                        <li>
                            <div class="span3">
                                <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                            </div>
                            <div class="span4">
                                <h4>University Name</h4>
                                <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                </p>
                                <div class="university-meta">
                                    <ul class="university-meta-list">
                                        <li>
                                            <a href="scholarship-list-country.html">Country Name</a>
                                        </li>
                                        <li>Deadline</li>
                                        <li>
                                            <a href="apply.html">Apply Now</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.university-meta -->
                            </div>
                        </li>
                        <li>
                            <div class="span3">
                                <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                            </div>
                            <div class="span4">
                                <h4>University Name</h4>
                                <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                </p>
                                <div class="university-meta">
                                    <ul class="university-meta-list">
                                        <li>
                                            <a href="scholarship-list-country.html">Country Name</a>
                                        </li>
                                        <li>Deadline</li>
                                        <li>
                                            <a href="apply.html">Apply Now</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.university-meta -->
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="text-center">
                    <a href="scholarship-list.html" class="button_large">
                        View Scholarships</a>
                </p>
            </div>
        </section>
    </div>
</div>
<!-- end container-->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}