{% extends "layout.html" %} {# Start of title #} {% set pageName = "List Scholarships" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}
<div class="container">
    <div class="row">
        <section class="span12">
            <div class="col-right">
                <div class="row">
                    <div class="span8 offset2">
                        <h1 class="column-title">CountryName > Scholarships</h1>
                        <hr>
                        <div class="row">
                            <ul class="scholarships-list">
                                <li>
                                    <div class="span3">
                                        <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                                    </div>
                                    <div class="span4">
                                        <h4>University Name</h4>
                                        <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                        </p>
                                        <div class="university-meta">
                                            <ul class="university-meta-list">
                                                <li>Deadline</li>
                                                <li>
                                                    <a href="apply.html">Apply Now</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.university-meta -->
                                    </div>
                                </li>
                                <li>
                                    <div class="span3">
                                        <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                                    </div>
                                    <div class="span4">
                                        <h4>University Name</h4>
                                        <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                        </p>
                                        <div class="university-meta">
                                            <ul class="university-meta-list">
                                                <li>Deadline</li>
                                                <li>
                                                    <a href="apply.html">Apply Now</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.university-meta -->
                                    </div>
                                </li>
                                <li>
                                    <div class="span3">
                                        <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                                    </div>
                                    <div class="span4">
                                        <h4>University Name</h4>
                                        <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                        </p>
                                        <div class="university-meta">
                                            <ul class="university-meta-list">
                                                <li>Deadline</li>
                                                <li>
                                                    <a href="apply.html">Apply Now</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.university-meta -->
                                    </div>
                                </li>
                                <li>
                                    <div class="span3">
                                        <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                                    </div>
                                    <div class="span4">
                                        <h4>University Name</h4>
                                        <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                        </p>
                                        <div class="university-meta">
                                            <ul class="university-meta-list">
                                                <li>Deadline</li>
                                                <li>
                                                    <a href="apply.html">Apply Now</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.university-meta -->
                                    </div>
                                </li>
                                <li>
                                    <div class="span3">
                                        <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                                    </div>
                                    <div class="span4">
                                        <h4>University Name</h4>
                                        <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                        </p>
                                        <div class="university-meta">
                                            <ul class="university-meta-list">
                                                <li>Deadline</li>
                                                <li>
                                                    <a href="apply.html">Apply Now</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.university-meta -->
                                    </div>
                                </li>
                                <li>
                                    <div class="span3">
                                        <img src=" https://dummyimage.com/270x180/888888/fff" alt="">
                                    </div>
                                    <div class="span4">
                                        <h4>University Name</h4>
                                        <p>Embassy Academy is a place where all students regardless of race, gender, or social class will experience a learning environment free of bias and criticism. Every child is special and unique in his or her own way. We at Embassy Academy believe that true leaders can be fostered in an environment where individuality is accepted rather than discouraged.
                                        </p>
                                        <div class="university-meta">
                                            <ul class="university-meta-list">
                                                <li>Deadline</li>
                                                <li>
                                                    <a href="apply.html">Apply Now</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.university-meta -->
                                    </div>
                                </li>
                            </ul>
                            <div class="pagination text-center">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.span8 offset2 -->
            </div>
        </section>
    </div>
</div>
<!-- end container-->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}