{% extends "layout.html" %} {# Start of title #} {% set pageName = "Single Page" %} {# End of title #} {% block TITLE_META %}
<title> {{ pageName }} | {{ siteName }} </title>
<meta name="description" content="some page description here">
<meta name="keywords" content="page keywords here">
<link rel="author" name="{{ author }}" />
<link rel="canonical" href="pageUrl" /> {% endblock %}
<!--/END title and meta section-->
<!--START PAGE CSS-->
{% block CSS %} {% endblock %}
<!--/END PAGE CSS-->
{% block content %}
<div class="container">
    <div class="row">
        <section class="span12">
            <div class="col-right">
                <h1 class="column-title">Page Title</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore rerum cum quidem quibusdam nulla amet id ea deleniti quaerat nihil officia, voluptatibus hic placeat eligendi, harum ratione minima. Consectetur necessitatibus cum consequuntur, eos in eligendi delectus fugit suscipit totam itaque, voluptate blanditiis repudiandae possimus ut modi id distinctio rem culpa? Quaerat delectus pariatur accusantium tenetur eaque nihil dolor quis, vero officiis aliquid in sequi beatae assumenda culpa iusto cupiditate. Qui recusandae nemo autem saepe. Aperiam repellat atque ducimus provident, neque consequatur amet mollitia quidem cumque autem explicabo non inventore, animi voluptatum quisquam dicta iusto harum modi iste vel eveniet nobis suscipit! Fuga reiciendis animi odio porro nam odit beatae consequatur consequuntur fugit deleniti. Ratione aspernatur doloremque dolorum voluptatem libero exercitationem, maiores amet, nam doloribus, expedita et quo deserunt recusandae optio atque perferendis eum nulla. Ad perspiciatis non, porro numquam mollitia officia, ratione! Temporibus explicabo maiores ipsum natus laborum repellendus quibusdam perferendis facilis cum ad pariatur necessitatibus, quisquam nobis excepturi obcaecati quae, recusandae delectus. Maxime perspiciatis quia enim tempore blanditiis beatae, fugiat eligendi, esse illum neque cum qui cupiditate iusto dicta? Tenetur incidunt repellendus, quos ipsa, error quasi? Repudiandae aliquam, facilis molestiae mollitia quae repellat porro ratione optio! Hic, saepe, beatae?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eius aliquid ut aliquam eos, iste repudiandae consequatur nemo adipisci natus nobis a veritatis blanditiis amet odit provident unde nulla molestias voluptatum velit voluptatem omnis tenetur iusto! Maiores explicabo dicta illum delectus, dolor provident nam maxime corporis! Officia omnis quia quisquam, aperiam amet doloribus nisi adipisci asperiores laboriosam deserunt, sit voluptates distinctio laborum error, hic odio repudiandae? Quod consequatur corporis aut pariatur consequuntur ipsum ullam eveniet nisi labore id dolor dolore illum quia et, necessitatibus quae minima earum optio libero aspernatur architecto dicta voluptate. Animi iure quasi eaque voluptatem nemo id!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa vero fuga explicabo corporis, numquam unde! Natus aspernatur neque voluptatibus maxime in, a velit! Adipisci tempore voluptatum similique qui laboriosam, deserunt ullam suscipit quis, vitae ex a quos quam excepturi eaque incidunt dolore sapiente unde! Libero reiciendis id, culpa vitae ipsum quasi dolorum corporis error molestiae, assumenda temporibus optio iste neque quo mollitia ratione? Ipsum expedita, sit neque pariatur consequuntur minus debitis excepturi, accusantium consectetur aperiam itaque eos alias vitae dolor natus reprehenderit maiores, aliquam, ratione quibusdam cumque. At provident aperiam laborum, voluptatibus impedit perspiciatis sit, ipsa ullam ratione itaque consectetur explicabo? Aliquid, voluptates rem recusandae iusto consequatur iste facere laborum numquam, deserunt similique animi, quas dolorum ipsa sapiente atque quasi est aspernatur sit vero quam! Dolores molestiae similique esse distinctio harum eaque officia eius nam iste sint odit ratione beatae, quod a cumque eligendi, excepturi accusamus expedita nobis quia quae et praesentium. Facere maiores fuga temporibus dolore optio, iusto maxime dignissimos mollitia ad at repellendus, recusandae ea ipsam eveniet a esse voluptatem earum quos! Debitis beatae, animi odit repellat, delectus laudantium molestiae autem. Possimus eaque, quo tenetur iste delectus earum vel accusamus repellat aut qui, temporibus esse facilis similique nostrum eius placeat obcaecati hic nulla tempora, pariatur velit quia facere mollitia. Dignissimos eum obcaecati impedit minima, error vero consequuntur, rem ratione molestias ullam rerum ipsa architecto velit sapiente recusandae consectetur illum facere dicta dolorum deserunt quibusdam. Ipsum iste rem atque saepe voluptatem veniam, voluptatum nisi delectus unde quo eos eaque ipsam quas corporis nesciunt cum quaerat sapiente alias cupiditate repellendus sit! Quasi qui expedita, earum quos eius doloribus, quo praesentium maxime, magni ipsam odit. Hic nulla saepe incidunt eum! Adipisci nostrum laborum, quis? Est beatae nobis facere vero, consequatur ipsum cupiditate officia laboriosam nesciunt iusto natus commodi magni error sit.</p>
            </div>
        </section>
    </div>
</div>
<!-- end container-->
{% endblock %}
<!--here comes the JS specific for home page-->{% block JS %} {% endblock %}