/**
* ------------------------------------------------------------
* Header
* ------------------------------------------------------------
*/

header {
    background-color: lighten(#2d343e, 40%);
}


/**
* ------------------------------------------------------------
* Home Page Design
* ------------------------------------------------------------
*/

h1.column-title {
    font-size: 24px;
    text-transform: uppercase;
}

.box-style-1 {
    h2 {
        margin: 0px;
        text-transform: uppercase; // font-weight: 300;
        font-size: 20px;
    }
}

.university-meta {
    ul.university-meta-list {
        padding: 0px;
        li {
            list-style: none;
            display: inline;
            width: auto;
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: 0px solid #eee;
            padding-left: 20px;
            &:first-child {
                padding-left: 0px;
            }
        }
    }
}

ul.scholarships-list {
    padding: 0px;
    margin: 0px;
    li {
        list-style: none;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        display: inline-block;
        width: 100%;
    }
}

ul.universities-list {
    padding: 0px;
    li {
        list-style: none;
        border-bottom: 1px solid #eee;
        margin-bottom: 15px;
        padding-bottom: 15px;
        a {
            display: block;
            position: relative;
            img {
                width: 100%;
            }
            span {
                position: absolute;
                bottom: 0px;
                width: 100%;
                color: #fff;
                text-align: center;
                padding: 8px 0px;
                background-color: rgba(0, 0, 0, 0.8);
            }
            &:hover {
                span {
                    text-decoration: underline;
                }
                img {
                    opacity: 0.85;
                }
            }
        }
    }
}

.how-to-apply {
    padding: 30px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    h4 {
        // text-transform: uppercase;
    }
}
.navbar{
    margin-bottom: 0;
}

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f9f9f9;
    background-image: none;
    border: 0px solid #d4d4d4;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

nav {
    background-color: #fafafa;
    background-image: none;
    border: 0px solid #d4d4d4;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
}

.slider{
    margin-top: 30px;
}