<footer>
    <div class="container">
        <div class="row">
            <div class="span4" id="brand-footer">
                <p>
                    <img src="images/footer-logo.png" alt="">
                </p>
                <p> &copy; 2017</p>
                <div class="twitter">
                    <a href="#">Follow on Twitter</a>
                </div>
                <div class="fb">
                    <a href="#">Follow on Facebook</a>
                </div>
            </div>
            <div class="span4" id="contacts-footer">
                <h4>Contacts</h4>
                <ul>
                    <li>
                        <i class="icon-home"></i> Magomeni Mwembechai</li>
                    <li>
                        <i class="icon-phone"></i> Telephone: (432) 413-9120</li>
                    <li>
                        <i class="icon-phone"></i> Telephone: (432) 413-3474</li>
                    <li>
                        <i class="icon-envelope"></i> Email:
                        <a href="#">info@ics.com</a>
                    </li>
                </ul>
         
            </div>
            <div class="span4" id="quick-links">
                <h4>Quick links</h4>
                <ul>
                    <li>
                        <a href="admissions.html">Link here</a>
                    </li>
                    <li>
                        <a href="admissions.html">Link here</a>
                    </li>
                    <li>
                        <a href="admissions.html">Link here</a>
                    </li>
                    <li>
                        <a href="admissions.html">Link here</a>
                    </li>
                    <li>
                        <a href="admissions.html">Link here</a>
                    </li>
                   
             
                </ul>
                <hr> "" </div>
        </div>
    </div>
</footer>
<!-- End footer-->
<div id="toTop">Back to Top</div>
