<!--[if !IE]><!-->
<script>
    if ( /*@cc_on!@*/ false) { document.documentElement.className += ' ie10'; }
</script>
<!--<![endif]-->
<!-- Border radius fixed IE10-->
<header>
    <div class="container">
        <div class="row">
            <div class="span4" id="logo">
                <a href=".">
                    <img src="images/logo.png" alt="Logo" >
                </a>
            </div>
            <div class="span8">
             
                <div id="phone" class="hidden-phone">
                    <strong>(+255)788 889 998 </strong>Hotline</div>
              
            </div>
            <!-- End span8-->
        </div>
        <!-- End row-->
    </div>
    <!-- End container-->
</header>
<!-- End Header-->

<nav>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse navbar-responsive-collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href=".">Home</a>
                            </li>
                            <li>

                                <a href="#">Link</a>
                            </li>
                            <li>
                                <a href="#">Link</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                    <li>
                                        <a href="#">One more separated link</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
        
                    </div>
                    <!-- /.nav-collapse -->
                </div>
                <!-- /navbar-inner -->
            </div>
        </div>

    </div>
</nav>




<!-- /navbar -->