{# Start of siteName #} {% set siteName = "International Colleges and Scholarships " %} {# End of siteName #} {# Start of author #}
{% set author = "http://danielchikaka.com" %} {# End of author #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
{# Start of meta part #} {% block TITLE_META %} {% endblock %} {# End of meta part #}
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--build:css css/bootstrap.min.css -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- endbuild -->
    <!--build:css css/bootstrap-responsive.min.css -->
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <!-- endbuild -->
    <!-- build:css css/megamenu.min.css -->
    <link href="css/megamenu.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:css css/style.min.css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:css css/font-awesome.min.css -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- endbuild -->
    <!--build:css css/jquery.fancybox63b9.min.css?v=2.1.4 -->
    <link rel="stylesheet" href="js/fancybox/source/jquery.fancybox63b9.css?v=2.1.4">
    <!-- endbuild -->
    <!-- Revolution Banner css settings -->
    <!--build:css css/fullwidth.min.css -->
    <link href="css/fullwidth.css" rel="stylesheet">
    <!-- endbuild -->
    <!--build:css css/settings.min.css -->
    <link href="rs-plugin/css/settings.css" rel="stylesheet">
    <!-- endbuild -->
    <!--/Revoulutin Banner CSS settings-->

        <!-- build:css css/jquery.smartmenus.bootstrap.min.css -->
        <link href="assets/smartmenus/src/addons/bootstrap/jquery.smartmenus.bootstrap.css" rel="stylesheet">
        <!-- endbuild -->

    <!--START PAGE CSS-->
    {% block CSS %} {% endblock %}
    <!--/END PAGE CSS-->
  
    <!-- build:css css/custom.min.css -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--START HEADER-->
{% include "partials/header.html" %}
<!--/END HEADER-->
<!--START MAIN CONTENT-->
{% block content %} {% endblock %}
<!--/END MAIN CONTENT-->
<!--START FOOTER-->
{% include "partials/footer.html" %}
<!--/END FOOTER-->
<!-- jQuery -->
<!--build:js js/jquery.min.js -->
<script src="js/jquery.js"></script>
<!-- endbuild -->
<!-- MEGAMENU -->
<!--build:js js/jquery.easing.min.js -->
<script src="js/jquery.easing.js"></script>
<!-- endbuild -->

<!--build:js js/megamenu.min.js -->
<script src="js/megamenu.js"></script>
<!-- endbuild -->
<!-- OTHER JS -->
<!--build:js js/bootstrap.min.js -->
<script src="js/bootstrap.js"></script>
<!-- endbuild -->
<!--build:js js/functions.min.js -->
<script src="js/functions.js"></script>
<!-- endbuild -->
<!--build:js js/validate.min.js -->
<script src="assets/validate.js"></script>
<!-- endbuild -->
<!-- FANCYBOX -->
<!--build:js js/jquery.fancybox.pack63b9.min.js?v=2.1.4 -->
<script src="js/fancybox/source/jquery.fancybox.pack63b9.js?v=2.1.4" type="text/javascript"></script>
<!-- endbuild -->
<!--build:js js/jquery.fancybox-media3447.min.js?v=1.0.5 -->
<script src="js/fancybox/source/helpers/jquery.fancybox-media3447.js?v=1.0.5" type="text/javascript"></script>
<!-- endbuild -->
<!--build:js js/fancy_func.min.js -->
<script src="js/fancy_func.js" type="text/javascript"></script>
<!-- endbuild -->
<!-- REVOLUTION SLIDER -->
<!--build:js js/jquery.themepunch.plugins.min.js -->
<script src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<!-- endbuild -->
<!--build:js js/jquery.themepunch.revolution.min.js -->
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- endbuild -->
<!--build:js js/revolutio-slider-func.min.js -->
<script src="js/revolutio-slider-func.js"></script>
<!-- endbuild -->

    <!--build:js js/jquery.smartmenus.min.js -->
    <script src="assets/smartmenus/src/jquery.smartmenus.js"></script>
    <!-- endbuild -->
    <!--build:js js/jquery.smartmenus.bootstrap.min.js -->
    <script src="assets/smartmenus/src/addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>
    <!-- endbuild -->

<!--END CORE JS-->
<!--PAGES JS-->
{% block JS %} {% endblock %}
<!--END PAGES JS-->

<!-- Custom Theme Scripts -->
<!--build:js js/custom.min.js -->
<script src="js/custom.js"></script>
<!-- endbuild -->
</body>

</html>